*./xcuserdata
FirebaseChatDemo/FirebaseChatDemo.xcworkspace/xcuserdata
FirebaseChatDemo/Pods
FirebaseChatDemo/FirebaseChatDemo.xcodeproj/xcuserdata/sagar.thummar.xcuserdatad/xcschemes
FirebaseChatDemo/FirebaseChatDemo.xcworkspace

